<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfy Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to Comfy Website</h1>
    <ul>
        <li><a href="/weather">Check Weather</a></li>
        <li><a href="/motivation">Get Motivated</a></li>
        <li><a href="/dice">Roll the Dice</a></li>
        <li><a href="/generate_password">Generate password</a></li>
        <li><a href="/palindrome">Check if palindrome</a></li>
        <li><a href="/fibonacci">Generate fibonacci</a></li>
        <li><a href="/zodiac">Find Your Zodiac Sign</a></li>
        <li><a href="/holiday">Know what are the public holidays on next week!</a></li>
        <li><a href="/calculator">Calculator</a></li>
    </ul>
</body>
</html>
