<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h2>Weather in {{ weather.city }}, {{ weather.country }}</h2>
    <p>Description: {{ weather.description }}</p>
    <p>Temperature: {{ weather.temperature }}°C</p>
    <a href="/weather">Back</a>
</body>
</html>
